.show-grid [class^="col-"] {
padding-top: 10px;
padding-bottom: 10px;
border: 6px solid #ddd;
background-color: #eee !important;
}
.total {
  padding: 2px;
  font-weight: bold;
  font-style: italic;
}
.center {
  text-align: center;
}
.red {
  color: red;
}
.andar-padding{
  padding-top: 33px;
}

.little-huge {
    font-size: 30px;
}
